html {
  background-color: white;
}

body {
  max-width: 1200px;
  margin: auto;
  background-color: #313131;
  font-family: Georgia;
}

.main-content {
  margin: auto;
  width: 960px;
  background-color: white;
  padding: 0 20px 0 20px;
  border-top: 5px solid #a7c353;
  color: #888888;
  font-size: 14px;
}

a {
  color: #a7c353;
  text-decoration: none;
}

a:hover {
  color: blue;
  transition: color 1s;
}

header {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #a7c353;
}

header a {
  color: #979797;
}

.header-logo {
  margin-bottom: 28px;
}

.logo-title {
  margin: 34px 0 4px 0;
}

.logo-text {
  margin: 0;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0 0 0 auto;
}

.nav-tab {
  cursor: pointer;
  display: inline-block;
  height: 100%;
  padding: 0 20px 0 20px;
}

.nav-tab:first-child {
  background-color: #a7c353;
}

.nav-tab:first-child a {
  color: white;
}

.nav-tab:hover {
  background-color: #a7c353;
}

.nav-tab:hover a {
  color: white;
}

.nav-tab:last-child {
  padding-left: 20px;
}

.nav-link {
  display: inline-block;
  margin-top: 44px;
}

.slider-section {
  border-bottom: 1px solid #e2e2e2;
}

.text-wrapper {
  display: flex;
  justify-content: center;
}

.slider-text {
  margin-top: 43px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 22px;
  font-style: italic;
  width: 710px;
}

.slider-area {
  width: 920px;
  height: 350px;
  margin-bottom: 75px;
}

.slider-title {
  position: absolute;
  bottom: 101px;
  right: 62px;
  z-index: 10000;
  width: 350px;
  height: 40px;
  background-color: #a7c353;
  font-size: 22px;
  color: white;
  text-align: center;
}

.slider-title p {
  margin: 8px 0 0 0;
}

.slider-par {
  position: absolute;
  bottom: 23px;
  right: 62px;
  z-index: 10000;
  width: 350px;
  height: 70px;
  background-color: white;
}

.slider-par p {
  margin: 14px 13px 9px 13px;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination > .swiper-pagination-bullet {
  opacity: 1;
  border: #a7c353 solid 2px;
  background-color: #a7c353;
}
.swiper-pagination > .swiper-pagination-bullet-active {
  background-color: white;
}

div.swiper-button-prev,
div.swiper-button-next {
  color: #a7c353;
  background-color: black;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  border: 3px solid #a7c353;
}

div.swiper-button-prev:after,
div.swiper-button-next:after {
  font-size: 20px;
  font-weight: 700;
}

div.swiper-button-prev:hover,
div.swiper-button-next:hover {
  color: blue;
  border: 3px solid blue;
  transition: color 1s, border 1s;
}

.about-section {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 40px 0;
}

.about-article {
  max-width: 280px;
}

.about-article span {
  width: 100%;
  display: inline-block;
  text-align: right;
}

.about-title {
  color: #666666;
  font-size: 22px;
  margin-top: 0;
}

.about-image {
  width: 270px;
  height: 140px;
  margin-top: 30px;
  border: 1px solid #e2e2e2;
  padding: 5px;
}

.about-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-text {
  line-height: 1.5;
}

.quote-icon {
  width: 50px;
  height: 50px;
  fill: black;
  opacity: 0.2;
}

.author {
  display: flex;
}

.author p {
  margin-left: 11px;
}

.second-author {
  margin-top: 15px;
}

.quote-text {
  line-height: 1.5;
}

.service-tab {
  display: flex;
  align-items: center;
}

.service-image {
  width: 64px;
  height: 64px;
}

.service-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service-info {
  margin-left: 18px;
}

footer {
  background-color: #313131;
  color: #999999;
  width: 1000px;
  margin: auto;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-tab {
  max-width: 225px;
}

.footer-title {
  color: white;
  font-size: 20px;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 16px;
  border-bottom: 1px solid #3a3a3a;
}

.footer-link {
  display: flex;
  align-items: center;
  margin-top: 17px;
  padding-bottom: 7px;
  border-bottom: 1px solid #3a3a3a;
}

.social-icon {
  fill: white;
  width: 16px;
  height: 16px;
}

.icon-background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #383838;
  margin-right: 11px;
}

.blog-post h3 {
  margin-bottom: 0;
}

.blog-post span {
  width: 100%;
  display: inline-block;
  text-align: right;
}

.admin {
  margin-top: 7px;
  margin-bottom: 12px;
}

.footer-form {
  margin-top: 19px;
}

.footer-input {
  width: 100%;
  background-color: #383838;
  border: none;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.footer-input::-moz-placeholder {
  color: #989898;
}

.footer-button {
  padding: 10px;
  border: none;
  background-color: #a7c353;
  border-radius: 7px;
  cursor: pointer;
}

.footer-button:hover {
  background-color: blue;
  color: white;
  transition: background-color 1s, color 1s;
}

.copyright {
  margin-top: 30px;
  border-top: 1px solid #3a3a3a;
  display: flex;
  justify-content: space-between;
}
